
@font-face {
  font-family: 'HarryP';
  src: url('font/HarryP.eot');
  src: url('font/HarryP.eot?#iefix') format('embedded-opentype'),
       url('font/HarryP.svg#HarryP') format('svg'),
       url('font/HarryP.ttf') format('truetype'),
       url('font/HarryP.woff') format('woff'),
       url('font/HarryP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiddleEarth';
  src: url('font/MiddleEarth.eot');
  src: url('font/MiddleEarth.eot#iefix') format('embedded-opentype'),
       url('font/MiddleEarth.svg#MiddleEarth') format('svg'),
       url('font/MiddleEarth.ttf') format('truetype'),
       url('font/MiddleEarth.woff') format('woff'),
       url('font/MiddleEarth.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body,html {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
}

#particles-js{
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top:0;
  z-index: -999;
}
#id1{
  font-family: HarryP;
  position: relative;
  float: left;
}
#id2{
  font-family: MiddleEarth;
  position: relative;
  float: left;
}
.nav-item1{
  font-family: MiddleEarth;
  font-size: 20px;
}
.nav-item2{
  font-family: HarryP;
  font-size: 25px;
}
.nav-item3{
  font-family: MiddleEarth;
  font-size: 20px;
}
.nav-item4{
  font-family: HarryP;
  font-size: 25px;
}
.nav-item5{
  font-family: MiddleEarth;
  font-size: 20px;
}
.kayıt1{
  font-family: HarryP;
  position: relative;
  float: left;
  font-size: 25px;
}
.kayıt2{
  font-family: MiddleEarth;
  position: relative;
  float:left;
  font-size: 20px;
}

.baslık1{
  font-family: MiddleEarth;
  color: aliceblue;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ;
}
input[type=submit] {
  background-color:#505050;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: darkgray;
}
.container {
  border-radius: 5px;
  background-color:darkgray;
  padding: 20px;
}